h2{
    text-align: center;;
}

.container{
    height:60vh;
    width:80%;
    background-color: rgb(18, 232, 232);
    justify-self:center;
    border-radius:20px;
    padding:8px;
    overflow-y:auto;
}

.message{
    background-color: rgba(118, 116, 116, 0.638);
    margin:4px;
    border-radius:10px;
    text-align: center;
    border:1px solid black;
    position:relative;
    width: 45%;
    padding: 3px;
    /* color:white; */
}

.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}

form{
    justify-self: center;
}

.btn{
    width: 30%;
    font-size: large;
    padding: 3px;
    justify-self:center;
    display: flex;
    position: relative;
    justify-content: center;
}

input{
    width: 25vw;
    margin:10px;
    font-size:larger
}